@model IEnumerable<WebApplication1.Models.Cliente>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Clientes</h2>

<p>
    @Html.ActionLink("Novo Cliente", "New", null, new { @class = "btn btn-primary" })
</p>

@if (Model.Any()) 
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
            <th>Cliente</th>
            @*<@*th>Deletar</th>
            <th>Editar</th>
            <th>Visualizar</th>*@
           </tr>

        </thead>
        <tbody>
                @foreach (var cliente in Model)
                {
        <tr>
                    
        <td>@Html.ActionLink(@cliente.Nome, "Edit", new { cliente.Id })</td>
        <td>@cliente.Nome</td>
        <td>
         <button data-cliente-id="@cliente.Id"
         class="btn-link js-delete">Remover</button>
        </td>
       </tr>        
      <tr>  
          
            
            @*<tr><td>@cliente.Nome</td></tr>*@
            <td>
            
                <button data-cliente-id="@cliente.Id" class="btn-link js-delete">Remover</button>
            </td>


            <td>
                <button data-cliente-id="@cliente.Id" class="btn-link js-visualizar">Visualizar</button>
            </td>
        </tr>
    }
        </tbody>
       
    </table>
}
else
{
    <p>Não foi dessa vez!!!</p>
}
@section scripts
{
    <script>
        $(document).ready(function() {
            $("#cliente").on("click",".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Tem certeza que quer remover este cliente?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/cliente/delete/" + button.attr("data-cliente-id"),
                                    method: "GET",
                                    success: function() {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                    /*if (confirm("Tem certeza que quer remover este cliente?")) {
                        $.ajax({
                            url: "/cliente/delete/" + button.attr("data-cliente-id"),
                            method: "GET",
                            success: function() {
                                button.parents("tr").remove();
                            }
                        });
                    }*/
                });
        });
    </script>
}